
.order-container{
    display: flex;
    flex-wrap: wrap;
}
#order{
    flex: 1;
    padding:10px;
    margin-left: 220px;
        color: rgb(102, 19, 19);
        display: flex;
       white-space: nowrap;
       margin-top: 20px;
}
.Order{
    display: flex;
}
.Order>img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin-left: 30px;
    margin-top: 20px;
}
#butn{
    width: 140px;
    height: 5vh;
    margin-left: 50px;
    margin-top: 30px;
    background-color:rgb(102, 19, 19) ;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
    border: 1px;
}
#butn:hover{
    transform: scale(1.1);
    background-color: chocolate;
    color: aliceblue;
    border: 1px;
    
}
.search-icon {
  color: #777;
  font-size: 20px;
  margin-top: 30px;

}
.search{
    width: 150px;
    height: 5vh;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px;
    text-align: center;
    background-color: rgb(245, 214, 214);
}
.searchh{
    display: flex;
}
.order-card{
    margin-left: 200px;
    display: flex;
    margin-top: 40px;
}
.activeorder{
    position: relative;
    margin-top: 20px;
    margin-left: 70px;
    background-color: rgb(245, 214, 214);
    width: 350px;
    height: 120px;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
}

.activeorder .icon{
    position: absolute;
    top: 12px;
    left: 32px;
    font-size: 28px;
    color: rgb(102, 19, 19);
}
.activeorder h3,
.activeorder h4{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#view{
    cursor: pointer;

}
#Dinein{

        color: rgb(102, 19, 19);

}
.dine{
    display: flex;
    gap: 60px;
}
.dinein{
    margin-top: 40px;
    margin-left: 250px;
}
.dine-card{
    margin-top: 40px;
    box-shadow: 0 0 5px rgb(245, 214, 214);
    background-color: rgb(245, 214, 214);
    width: 350px;
    height: auto;
    border-radius: 15px;
}
.up{
    background-color:  rgb(102, 19, 19);
    color: white;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.up h4{
    margin-top: 10px;
    margin: 10px;
    text-align: center;
    margin-left: 40%;

}
.up p{
     margin-top: 10px;
    margin: 10px;
    margin-left: 150px;
}
.totalprice{
    display: flex;
    margin-left: 100px;
}
.middle h4{
    text-align: start;
    margin: 10px;
}
.middle p{
    text-align: center;
}
.middle .table{
    margin-top: 0px;
    margin-left: 20px;
    width:270px;
}
.middle .table .tr{
    margin-left: 15px;
    text-align: center;
}
.tr th{
        background-color: transparent;

}

.middle h3{
    display: flex;
    text-align: center;
    background-color:rgb(247, 233, 233) ;
}
.end{
    display: flex;
}
.end button{
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 1px;
margin-top: 30px;
  box-shadow: 0 0 5px white;
    background-color: rgb(245, 214, 214);
    margin-bottom: 40px;
    margin-left: 20px;
   
}


#comp{
    background-color: rgb(102, 19, 19);
    color: white;
}
#can{
    color: red;
    margin-bottom: 0px;
}
.end button:hover{
    cursor: pointer;
    transform: scale(1.1);

}