

.container{
  display: flex;
  height: 100vh;
    box-sizing: border-box;
  box-shadow: 0 0 5px solid black;
}
.left{
  width: 50%;
}
.left img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 35px;
  margin: 20px;

}
.right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box input{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: bisque;

}
.login-box button{
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  background-color:rgb(153, 112, 112);
  color: white;
  width: 90px;
  margin-top: 20px;
  margin-left: 10px;
}
.login-box button:hover{
  cursor: pointer;
  background-color:chocolate;
  transform: scale(1.1);
}
.login-box img{
  height: 50px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 70px;

}
.txt{
  margin-bottom: 20px;
}
.container{
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  height: 100vh;
}